<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.BLUETOOTH" android:maxSdkVersion="30" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" android:maxSdkVersion="30" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission
        android:name="android.permission.BLUETOOTH_SCAN"
        android:usesPermissionFlags="neverForLocation"
        tools:targetApi="s" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" android:maxSdkVersion="30" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" android:maxSdkVersion="30" />
    <application
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:description="@string/app_desc"
        android:fullBackupContent="false"
        android:icon="@drawable/ic_akita_mesh"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:usesCleartextTraffic="false">

        <meta-data
            android:name="plugin-api"
            android:value="${atakApiVersion}" />

        <meta-data
            android:name="app_desc"
            android:value="@string/app_desc" />

        <activity
            android:name="com.atakmap.app.component"
            android:exported="true"
            tools:ignore="MissingClass">
            <intent-filter android:label="@string/app_name">
                <action android:name="com.atakmap.app.component" />
            </intent-filter>
        </activity>

        <service
            android:name="com.akitaengineering.meshtak.services.BLEService"
            android:exported="false"
            tools:ignore="MissingClass" />

        <service
            android:name="com.akitaengineering.meshtak.services.SerialService"
            android:exported="false"
            tools:ignore="MissingClass" />

    </application>
</manifest>
